@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fbc531;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
}

.react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
}

.react-grid-item.cssTransforms {
    transition-property: transform;
}

.react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
}

.react-grid-item.react-grid-placeholder {
    background: #08576d;
    opacity: 0.2;
    border-radius: 20px;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

h2 {
    width: 100%;
    font-size: 48px;
    font-weight: 300;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 56px;
}

/*Landing CSS*/
.navigationBarContainer {
    width: 100%;
    min-height: 70px;
    background: white;
}

.navbarContent li a h6 {
    font-size: 16px;
    font-weight: 700 !important;
    font-variant-caps: all-petite-caps !important;
}

.nameNavbar {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    background: white;
}
.heroContainer {
    width: 100%;
    position: relative;
    color: white;
    background-size: cover;
    background: url("../images/herobg2.jpg") center no-repeat;
    animation-name: animasiBg;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}

.heroContainer h1 {
    font-size: 76px;
    letter-spacing: -1px;
    font-weight: 300;
    position: absolute;
    font-variant-caps: all-petite-caps;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.heroContainer p {
    letter-spacing: -1px;
    font-weight: 600;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, 0);
}

.heroContainer span {
    position: absolute;
    bottom: 3%;
    width: 100%;
    font-weight: 300;
    text-align: center;
}

.introContainer {
    margin-top: 60px;
    background: white;
    margin-bottom: 120px;
}

.imageIntro {
    max-width: 100%;
    max-height: 100%;
}
.textLanding {
    width: 100%;
    text-align: justify;
}

.featuresLanding {
    margin-bottom: 120px;
}

.cardFeatures {
    width: 100%;
    position: relative;
    padding: 16px;
    min-height: 350px;
    border-radius: 2px;
    margin-bottom: 18px;
    box-shadow: 0px 3px 7px rgba(158, 158, 158, 0.7);
}

.cardFeatures img {
    display: block;
    margin: 0 auto;
}
.cardFeatures h4 {
    margin-top: 36px;
    text-align: center;
    font-weight: 700;
    font-variant-caps: all-petite-caps;
    margin-bottom: 36px;
}

.cardFeatures p {
    text-align: center;
    font-weight: 300;
}

.cardAnggota {
    width: 100%;
    position: relative;
    padding: 16px;
    min-height: 200px;
    border-radius: 2px;
    margin-bottom: 18px;
}

.cardAnggota img {
    display: block;
    margin: 0 auto;
}

.cardAnggota h4 {
    margin-top: 36px;
    text-align: center;
    font-weight: 700;
    color: rgb(79, 79, 79);
    font-variant-caps: all-petite-caps;
    margin-bottom: 12px;
}

.cardAnggota p {
    text-align: center;
    font-weight: 300;
}
.carouselLandingContainer {
    margin-bottom: 120px;
}

.carouselContent {
    position: relative;
}

.carouselHover {
    opacity: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    transition: 0.4s;
}

.carouselHover:hover {
    opacity: 1;
    cursor: grab;
    min-width: 100%;
    min-height: 100%;
    background: rgba(251, 197, 49, 0.4);
    position: absolute;
    transition: 0.4s;
}

.carouselHover h5 {
    height: 100%;
    text-align: center;
    width: 100%;
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
}

.carouselHover p {
    height: 100%;
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    width: 100%;
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}

.landingLastContainer {
    min-height: 500px;
    padding-top: 5%;
    padding-bottom: 5%;
    background: url("../images/lastLanding.jpg");
    background-size: cover;
    background-position: top;
    margin-bottom: 36px;
    text-align: center;
}

.landingLastContainer button {
    min-width: 40%;
    margin-top: 24px;
    border: 2px solid #fbc531;
    border-radius: 5px !important;
    color: #fbc531;
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
}

.landingLastContainer button:hover {
    margin-top: 24px;
    border: 2px solid #fbc531 !important;
    background: #fbc531;
    border-radius: 5px !important;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.4s;
}

.landingLastContainer button:focus {
    margin-top: 24px;
    border: 2px solid #fbc531 !important;
    background: #fbc531;
    border-radius: 5px !important;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.4s;
}
.landingLastContainer p {
    text-align: center;
}

.active a {
    color: #fbc531 !important;
}
.footerContainer {
    padding-top: 32px;
    margin-top: 32px;
    padding-bottom: 16px;
    text-align: center;
    color: #bababa;
    font-variant-caps: all-petite-caps;
    font-weight: 300;
}

.mainFooter h4 {
    text-align: left;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
}

.mainFooter h4 span {
    font-weight: 300;
    font-size: 16px;
    color: #5a6268;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
}

.secondFooter {
    text-align: right;
    color: #6c757d;
    font-weight: 400;
    font-size: 14px;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
}

/*Login Psge*/
.textLogReg {
    margin-top: 52px;
    text-align: right;
}
.loginContainer {
}

.loginContent {
    margin-top: 140px;
}

.loginContent h2 {
    margin-bottom: 12px;
    text-align: left !important;
}

.loginContent p {
    font-weight: 300;
    margin-bottom: 52px;
}

.form-group label {
    font-weight: 300;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
}

/*Sidebar*/
.sidebar {
    position: fixed;
    margin-left: 0;
    height: 100%;
    background: white;
    width: 80px;
    z-index: 999;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.01);
}

.contentSidebar {
    position: relative;
    margin-left: 27px;
}

.contentSidebar div {
    margin-top: 200px;
}

.contentSidebar div:hover {
    cursor: pointer;
}

.logoutButton {
    position: fixed;
    bottom: 6%;
}
/*Container Main*/
.containerMain {
    margin-left: 112px;
    padding-top: 32px;
    margin-right: 32px;
}

.cardPlans {
    width: 100%;
    margin-bottom: 32px;
    height: 250px;
    position: relative;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 3px 7px rgba(158, 158, 158, 0.4);
}

.cardPlans:hover {
    cursor: pointer;
}

.cardPlans p {
    width: 100%;
    color: #fbc531;
    font-weight: 700;
    position: absolute;
    bottom: 10%;
    text-align: center;
}

.cardPlans svg {
    fill: #fbc531;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
}

.cardPlanTimeline {
    background: white;
    width: 100%;
    position: relative;
    border-radius: 5px;
    height: 100%;
    box-shadow: 0px 3px 7px rgba(158, 158, 158, 0.3);
}

.cardPlanTimeline button {
    height: auto;
    width: 90%;
    position: absolute;
    bottom: 10%;
    text-align: center;
    left: 50%;
    border-radius: 6px;
    transform: translate(-50%, 0);
}

.cardPlanTimeline:hover {
    cursor: grab;
}

.bgCardPlan {
    height: 100%;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cardPlanTimeline span {
    height: auto;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 15%;
    text-align: center;
    left: 50%;
    border-radius: 6px;
    transform: translate(-50%, 0);
}
.textPlans {
    height: auto;
    position: absolute;
    top: 35%;
    padding: 6px 32px 18px 32px;
    background: white;
    left: 50%;
    border-radius: 6px;
    transform: translate(-50%, 0);
}

.textPlans h4 {
    margin: 0 !important;
    color: rgb(79, 79, 79);
    width: 100%;
    font-size: 48px;
    font-weight: 300;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 56px;
}

.textPlanTravel p {
    height: auto;
    position: absolute;
    top: 55%;
    left: 50%;
    border-radius: 6px;
    transform: translate(-50%, 0);
}
.textInfoPlans {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    font-weight: 300;
    color: #5a6268;
    text-align: center;
    transform: translate(-50%, 0);
}

.plansBg {
    height: 50%;
    border-radius: 8px 8px 0px 0px;
    background-size: cover;
    background-position: top;
}

.plansBg2 {
    height: 50%;
    border-radius: 0 0 8px 8px;
    background-size: cover;
    background-position: top;
    background: white;
}

.modal-dialog {
    max-width: 1070px;
}

.modalDelete {
    max-width: 300px;
}

.modalContainer {
    min-width: 100%;
    min-height: 600px;
    border-radius: 20px;
}

/*Modal Add*/
.bgAddPlan {
    width: 100%;
    padding: 32px;
    height: 300px;
    border-radius: 20px 20px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.contentAddPlan {
    width: 80%;
    min-height: 100px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);
}

.contentAddPlan h1 {
    font-variant-caps: all-petite-caps;
    font-size: 6vh;
    letter-spacing: 3px;
    font-weight: 300;
    width: 100%;
    top: 50%;
    position: absolute;
    text-align: center;
}

.sidebarRight {
    width: 350px;
    position: fixed;
    height: 100vh;
    background: white;
    right: 0;
}

.headerDetail {
    width: 100%;
    position: relative;
    display: block;
}

.headerDetail span {
    width: 100%;
    font-size: 48px;
    font-weight: 300;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 56px;
}

.mainDetail {
    margin-top: 32px;
}

.containerProvinsi {
    margin-top: 64px;
}

.addPlanText {
    margin-top: 24px;
    text-align: center;
}

.travelPlan {
    margin: 16px;
    border-radius: 5px;
    border: 2px solid #fbc531;
}
.addPlanText:hover {
    cursor: pointer;
}

.travelPlan:hover {
    cursor: pointer;
}

.travelConfirm {
    padding: 16px;
}

.travelConfirm h5 {
    color: #9b9b9b;
    font-size: 15px;
    font-weight: 300;
}

.travelConfirm span {
    color: rgb(79, 79, 79);
}
.addPlanText p {
    padding: 16px;
    border-radius: 5px;
    border: 2px solid #fbc531;
}

.travelPlan h6 {
    text-align: center;
    font-weight: 300;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
    font-size: 36px;
    padding: 16px;
}

.travelPlan p {
    text-align: center;
    padding: 16px;
}
.errorPage {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.errorPage h4 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}
.errorPage button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainDetail {
    overflow-x: auto;
}

.sidebarRightContent {
    margin: 32px;
}

.dashboardTravel span {
    font-weight: 300;
    font-variant-caps: all-petite-caps;
    color: #9b9b9b;
}

.dashboardTravel h4 {
    font-weight: 400;
    font-variant-caps: all-petite-caps;
    color: rgb(79, 79, 79);
}
.sidebarRightContent h3 {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 32px;
}

.rightDesc {
    margin-bottom: 32px;
}

.rightDesc h4 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    font-variant-caps: all-petite-caps;
    margin-bottom: 8px;
}

.rightDesc h6 {
    font-weight: 700;
    font-size: 20px;
    color: rgb(79, 79, 79);
}

.rightDesc p {
    color: #8c8c8c;
    font-weight: 300;
}

.dayPlanner h2 {
    text-align: center;
}

.dayPlanner p {
    text-align: center;
    font-weight: 700;
}

.dayTotal p {
    font-weight: 700;
    text-align: right;
}

/*Loading Spinner*/
.lds-ripple {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    width: 64px;
    height: 64px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fbc531;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}
/*Keyframaes*/
@keyframes animasiBg {
    0% {
        background-size: 130%;
    }
    50% {
        background-size: 100%;
    }
    100% {
        background-size: 130%;
    }
}

@media screen  and (max-width: 990px) {
    .mainDetail {
        max-width: 99%;
        overflow: auto;
    }

    .containerMain {
        margin-left: 16px;
        margin-right: 16px;
        padding-top: 16px;
    }

    .sidebar {
        position: fixed;
        display: none;
        margin-left: -250px;
        height: 100%;
        background: #262F3D;
        width: 250px;
    }

    .sidebarRight {
        margin-right: -350px;
        width: 350px;
        position: fixed;
        height: 100vh;
        background: white;
        right: 0;
    }

    .headerDetail {
        max-width: none !important;
    }
}
@media screen  and (max-width: 480px) {
    .contentAddPlan h1 {
        font-variant-caps: all-petite-caps;
        font-size: 3vh;
        letter-spacing: 3px;
        font-weight: 300;
        width: 100%;
        top: 5%;
        position: absolute;
        text-align: center;
    }
    .heroContainer p {
        font-size: 16px;
        letter-spacing: -1px;
        width: 100%;
        text-align: center;
        font-weight: 600;
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .heroContainer {
        width: 100%;
        position: relative;
        color: white;
        background-size: cover;
        background: url("../images/herobg2.jpg") center no-repeat;
        animation-name: none;
        animation-duration: 0s;
        animation-iteration-count: infinite;
    }

    .landingLastContainer p {
        color: white;
        text-align: center;
    }

    .loginContent {
        margin-top: 32px;
    }
}
